<% provide(:title, @taxon.name) %>
<%= render "shared/page_header", page_title: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "shared/sidebar", taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "shared/filter_area" %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <%= link_to potepan_product_path(product.id) do %>
                <div class="productBox">
                  <div class="productImage clearfix">
                    <%= image_tag(product.display_image.attachment(:product), :alt => "products-img") %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "shared/brand_section" %>